@media screen and (max-width: 1000px) {
  /* NAVBAR */
  .img-per {
    display: none;
  }
  .avatar-per {
    width: 40px;
  }
  /* JOB INFO */
  .grid-job {
    grid-template-columns: repeat(2, 1fr);
  }
  /* CERTIFICATE -ACHIEVEMENT*/
  .cer-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-left: 30px;
  }
  /* PROJECT */
  .project > img {
    width: 100%;
  }
}
